<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<federatedAuthentication>
			<identityProviders>
				<!-- Applies for Portal (Auth0) -->
				<identityProvider name="Auth0">
					<transformations hint="list:Add">
						<claimTransformation name="Map_DefaultUser_Auth0">
							<sources hint="list">
								<claim name="con_EuJnxejO8CEYJmSt.xmc_role" />
							</sources>
							<targets hint="list">
								<claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" />
							</targets>
							<comment>Every SSO user gets Sitecore\Default User</comment>
						</claimTransformation>
					</transformations>
				</identityProvider>

				<!-- Applies for API (Bearer tokens) -->
				<identityProvider name="Bearer">
					<transformations hint="list:Add">
						<claimTransformation name="Map_DefaultUser_Bearer">
							<sources hint="list">
								<claim name="con_EuJnxejO8CEYJmSt.xmc_role" />
							</sources>
							<targets hint="list">
								<claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" />
							</targets>
							<comment>Every SSO user gets Sitecore\Default User</comment>
						</claimTransformation>
					</transformations>
				</identityProvider>
			</identityProviders>
		</federatedAuthentication>
	</sitecore>
</configuration>
