<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<sitecore>
	<settings>
      <setting name="EnforceFederatedAuthentication" value="false" />
    </settings>
		<federatedAuthentication>
			<identityProviders>
			<identityProvider id="Okta" patch:attribute="enabled" enabled="false" />
				<identityProvider id="Auth0">
					<transformations>
						<transformation
						  name="roles"
						  type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="con_EuJnxejO8CEYJmSt.xmc_role" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
						<transformation
						  name="custom SSO comment"
						  type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="con_EuJnxejO8CEYJmSt.xmc_role" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="comment" value="User might have roles assigned via claims mapping" />
							</targets>
						</transformation>
					</transformations>
				</identityProvider>
				<identityProvider id="Bearer">
					<transformations>
						<transformation
						  name="roles"
						  type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="con_EuJnxejO8CEYJmSt.xmc_role" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" />
							</targets>
							<keepSource>true</keepSource>
						</transformation>
						<transformation
						  name="custom SSO comment"
						  type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
							<sources hint="raw:AddSource">
								<claim name="con_EuJnxejO8CEYJmSt.xmc_role" />
							</sources>
							<targets hint="raw:AddTarget">
								<claim name="comment" value="User might have roles assigned via claims mapping" />
							</targets>
						</transformation>
					</transformations>
				</identityProvider>
			</identityProviders>
			<propertyInitializer>
				<maps hint="list">
					<map name="Comment"
					  type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication"
					  resolve="true">
						<data hint="raw:AddData">
							<source name="comment" />
							<target name="Comment" />
						</data>
					</map>
				</maps>
			</propertyInitializer>
		</federatedAuthentication>
	</sitecore>
</configuration>